.navbar-default {
	margin: 0px auto;
	float: none;
	text-align: center;
	border: 0px;
	background-color: transparent;
}

.navbar-brand {
	position: absolute;
	width: 100%;
	left: 0;
	text-align: center;
	margin: 0 auto;
	font-size: xx-large;
}

.navbar .navbar-nav {
	display: inline-block;
	float: none;
}

.navbar .navbar-collapse {
	text-align: center;
	padding-right:0px;
}

body {
	background: white;
	background-image: url(../_images/background.png);
	background-size: cover;
	background-repeat: no-repeat;
}

.dropdown-menu {
	background-color: transparent;
}

.dropdown:FOCUS {
	background-color: orange;
}

.dropdown-toggle {
	background-color: transparent;
}

.dropdown {
	background-color: transparent;
}

.ng-scope {
	text-align: center;
	background-color: transparent;
}

.text-align {
	text-align: center;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0px;
}
.container.jumbotron {
	background-color:transparent;
}