<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<style>
element {
	
}

.container.jumbotron {
	background-color: transparent;
}

.container {
	width: -moz-calc;
}

.table .table {

background-image: url(_images/9.png);
	
	background-size:cover;
	background-position: right;
	background-repeat: no-repeat;
	background-color: aqua;
	
}
</style>
<body>
	List of Users
	<div class="table table-striped table-responsive transbox">
		<table class="table">
			<tr style="background-color: rgba(32, 178, 170, 0.1); width: 100%;">
				<th>USERNAME</th>
				<th>EMAIL</th>
				<th>ISONLINE</th>
				<th>ROLE</th>
			</tr>
			<tr ng-repeat="u in users">
				<td>{{u.username}}</td>
				<td>{{u.email}}</td>
				<td ng-if="u.online">Yes</td>
				<td ng-if="!u.online">No</td>

				<td>{{u.role}}</td>
				<td><a href="" ng-click="friendRequest(u.username)"
					class="btn btn-xs btn-default">Send Friend Request</a></td>
			</tr>
		</table>
		`
	</div>
	<a href="#/home">Home</a>
</body>
</html>